body {
    font-family: "Pacifico", cursive;
    background-color: #FFDAB9;
    text-align: center;
}

#title {
    font-size: 6rem;
    color: #002366;
    margin-top: 0;
}

.centralize {
    padding-top: 5%;
}

#crown1 {
    visibility: hidden;
    width: 30%;
    padding-bottom: 3%;
    margin: auto;
}


#crown2 {
    visibility: hidden;
    width: 30%;
    padding-bottom: 3%;
    margin: auto;
}

