body {
    font-family: "Pacifico", cursive;
    background-color: #FFDAB9;
    text-align: center;
}

#title {
    font-size: 6rem;
    color: #002366;
    margin-top: 0;
}

.centralize {
    padding-top: 7%;
}

.crown {
    display: none;
    width: 75%;
    height: 75%;
    padding: 0;
    margin: 0;
}
